.container {
    color: var(--text-main);
}

.form-control {
    background-color: var(--input-bg) !important;
    color: var(--text-main) !important;
    border: 1px solid var(--border-color) !important;
    padding: 12px;
    border-radius: 8px;
}
.form-control:focus {
    background-color: #ffffff !important;
    color: #000000 !important;
    border-color: #ffc107 !important;
    box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.25);
}

.card {
    background-color: var(--card-bg) !important;
    border: 1px solid var(--border-color);
}

.list-group-item {
    color: var(--text-main) !important;
}

label {
    font-weight: 600;
    margin-bottom: 8px;
}